.curved-loop-jacket {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 8;
  overflow: visible;
  display: block;
  font-size: 3rem;
  fill: black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

@media (width < 48rem) {
  .curved-loop-svg {
    font-size: 6rem;
  }
}